@{
    ViewBag.Title = "text";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts{
    <script type="text/javascript">
    </script>
}

<table>
    <tr>
        <td>
            url:
        </td>
        <td>
            <input id="urlinfo" class="easyui-textbox" style="width:300px;height:32px">
        </td>
        <td>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-save'">走着</a>
        </td>
        <td>
            <a href="#" class="easyui-linkbutton" data-options="iconCls:'icon-add'">添加参数</a>
        </td>
    </tr>
</table>
